{% extends "layout.html" %}
{% block content %}
    <div class="content-section col-md-10">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}" width="125" height="125" style="object-fit: cover">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
                {% if current_user.first_name or current_user.last_name %}
                    <p class="text-secondary margin-bottom-p">
                        {% if current_user.first_name %}
                            {{ current_user.first_name }}
                        {% endif %}
                        {% if current_user.first_name and current_user.last_name %}
                            &nbsp;
                        {% endif %}
                        {% if current_user.last_name %}
                            {{ current_user.last_name }}
                        {% endif %}
                    </p>
                {% endif %}
                {% if current_user.country %}
                    <p class="text-secondary margin-bottom-p">Country: {{ current_user.country }}</p>
                {% endif %}
                {% if current_user.account_status == AccountStatus.CONFIRMED %}
                    <p class="text-success margin-bottom-p">Account Confirmed</p>
                {% elif current_user.account_status == AccountStatus.PENDING %}
                    <p class="text-warning margin-bottom-p">Pending Confirmation</p>
                {% else %}
                    <p class="text-danger margin-bottom-p">Account Disabled</p>
                {% endif %}
            </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.first_name.label(class="form-control-label") }}

                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.last_name.label(class="form-control-label") }}

                    {% if form.last_name.errors %}
                        {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.last_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.country.label(class="form-control-label") }}

                    {% if form.country.errors %}
                        {{ form.country(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.profile_picture.label() }}
                    {{ form.profile_picture(class="form-control-file") }}
                    {% if form.profile_picture.errors %}
                        {% for error in form.profile_picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
