{% extends "layout.html" %}
{% block content %}
    <div class="content-section col-md-10">
        <form id="confirmForm" action="{{ url_for('incidents.new_incident') }}" method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.year.label(class="form-control-label") }}
                    {% if form.year.errors %}
                        {{ form.year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.impact.label(class="form-control-label") }}
                    {% if form.impact.errors %}
                        {{ form.impact(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.impact.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.impact(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.actions_taken.label(class="form-control-label") }}
                    {% if form.actions_taken.errors %}
                        {{ form.actions_taken(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.actions_taken.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.actions_taken(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.reliability.label(class="form-control-label") }}
                    {% if form.reliability.errors %}
                        {{ form.reliability(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.reliability.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.reliability(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.industry_type.label(class="form-control-label") }}
                    {% if form.industry_type.errors %}
                        {{ form.industry_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.industry_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.industry_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.incident_type.label(class="form-control-label") }}
                    {% if form.incident_type.errors %}
                        {{ form.incident_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.incident_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.incident_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" id="confirmAdd">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {{ form.hidden_tag() }}
        </form>
    </div>
    <!-- Similar Incident Modal -->
    <div class="modal fade" id="similarIncidentModal" tabindex="-1" role="dialog" aria-labelledby="similarIncidentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="similarIncidentModalLabel"><i class="fas fa-exclamation-triangle"></i> Similar Incident Detected!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    A similar incident already exists in the database. Are you sure you want to add this?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelAddIncident">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmAddIncident">Add</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
